.footer_list{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 63rem;
    padding: 3.375rem 0 3.4125rem 0;
}

.footer{
    background-color: #404040;
    padding-right: 6rem;
}

.footer:last-child{
    padding-right: 0;
}
footer:last-child{
    padding-right: 0;
}

.footer_text, .footer_form{
    padding-top: 1.5rem;
}

.footer_size{
    width: 13%;
}

.footer_size:nth-child(3){
    width: 32%
}

.footer_form__input{
    padding: 0.6rem 0 0.8125rem 1rem;
}