.destinations_img:hover .button_link, .featured_img:hover .button_link{
    opacity: 1;
    transition: .6s;
}

.header_nav__roster-nav-list:last-child:hover{
    background-color: #343435;
    transition: .6s;
}

.section_footer-text:hover{
    background-color: #717171;
    color: #F9FAFE;
    transition: .6s;
}

.header_nav__roster-nav-list:hover .nav-list__link{
    font-size: 1.125rem;
    transition: .6s;
}

.header_nav__roster-nav-list:hover{
    padding: 0.4375rem 1.5625rem;
    transition: .6s;
}

.header_nav__roster-nav-list:last-child:hover{
    padding: 0.625rem 2.125rem;
    transition: .6s;
}

button:hover{
    background-color: #717171;
    transition: .6s;
}

.own-boat_block a:hover{
    background-color: #F9FAFE;
    color: #E7434E;
    transition: .6s;
}
