.card_product{

    max-width: 52rem;
    text-align: center;
    margin: 0 auto;
}

.card_product__position-destinations{
    padding-top: 10.8125rem;
}

.card_product__position-featured{
    padding-top: 5.875rem;
}