.section_footer{
    padding-top: 6.125rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.section_footer-text{
    padding: 1.406rem 2.6875rem;
    border: 0.0625rem solid #343435;
    border-radius: 0.3126rem;
}

