.button__img{
    margin-top: 0.20rem;
    max-height: 1rem;
}

.button_link{
    opacity: 0;
    display: block;
    width: 5.125rem;
    border-radius: 0.3125rem;
    padding: 0.625rem 0.5625rem 0.625rem 1rem;
    transition: .6s;
}



.button_text{
    display: block;
    text-align: left;
    padding: 12.5rem 0 1rem;
}

.item_radius{
    border-radius: 0.3125rem;
}

.footer .form__button.item_radius, .reserve .form__button.item_radius{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form__button{
    padding: 0.60rem 2rem 0.8125rem;
    margin-left: -0.6rem;
}

.reserve_form .form__button{
    padding-top: 0.63rem;
    padding-bottom: 1rem;
}

.background__red{
    background-color: #E7434E;
}
