.uppercase{
    text-transform: uppercase;
}

.section__title{
    font-size: 4.5rem;
    text-align: center;
}

.section__text{
    font-size: 1.875rem;
    text-align: center;
}

.text_normal{
    font-weight: normal;
    font-size: 1.875rem;
}

.bold__text{
    font-weight: bold;
}

.normal__text{
    font-weight: normal;
    font-size: 0.875rem;
}

.top-destinations_main-text-width{
    width: 14.1875rem;
}

.font__number{
    font-family: "Open Sans";
}

.small__text{
    font-size: 0.875rem;
}

.text_block{
    display: block;
}

.text_position{
    padding: 1rem 3rem;
}

.position_text__block{
    padding: 11rem 0 1.5rem;
    text-align: left;
}

.text__white{
    color: #F9FAFE;
}

.text__silver{
    color: #343435;
}

*{
    font-family: Raleway;
}

span{
    font-family: Open Sans;
}