@media screen and (max-device-width: 576px){
    .header_nav__roster{
        padding-left: 1rem;
    }

    .position_img__block{
        margin: 0 auto;
    }

    .destinations_img:first-child{
        width: 100%;
    }

    .destinations_img:nth-child(2), .destinations_img:nth-child(4){
        margin-top: 2rem;
        margin-right: 4.3rem;
    }

    .destinations_img, .featured_img{
        width: 40%;
    }

    .section__title{
        font-size: 2rem;
    }

    .section__text{
        font-size: 1.5rem;
    }

    .position_img__block{
       padding-left: 3.8rem;
    }

    .small__text{
        font-size: 0.7rem;
    }

    .footer_list{
        margin: 0 3rem;
    }

    .section_footer{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .form__button{
        margin-left: -0.5rem;
        padding: 0.8rem 2rem 0.9rem;
    }

    .footer_size{
        margin: 0 auto;
    }

    .footer{
        padding-right: 3rem;
    }

    .card_product__position-destinations{
        padding-top: 5rem;
    }
}

@media (min-device-width: 576px) and (max-device-width: 768px ){
    .header_nav__roster{
        padding-left: 5rem;
    }



    .destinations_img:first-child{
        width: 87%;
        margin-top: 2rem ;

    }

    .destinations_img:nth-child(2), .destinations_img:nth-child(4){
        margin-top: 2rem;
        margin-right: 4.3rem;

    }

    .destinations_img:nth-child(5){
        margin-top: 2rem;
    }

    .destinations_img, .featured_img{
        width: 37.5%;
    }
    .position_img__block{
        width: 100%;

    }

    .top-destinations .position_img__block{
        margin-left: 3rem;
    }

    .footer_list{
        margin: 0 3rem;
    }

    .section_footer{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .form__button{
        margin-left: -0.5rem;
        padding: 0.8rem 1.5rem 0.9rem;
    }

    .footer_size{
        margin: 0 auto;
    }

    .footer{
        padding-right: 3rem;
    }

    .small__text{
        font-size: 0.7rem;
    }

    .reserve_form{
        padding-bottom: 9.25rem;
    }

    .card_product__position-destinations{
        padding-top: 6.5rem;
    }
}

@media (min-device-width: 768px) and (max-device-width: 992px ){
    .header_nav__roster{
        padding-left: 9rem;
    }

    .footer_size{
        margin: 0 auto;
    }

    .footer{
        padding-right: 1.5rem;
    }

    .small__text{
        font-size: 0.8rem;
    }

    .card_product__position-destinations{
        padding-top: 8rem;
    }

}

@media (min-device-width: 992px) and (max-device-width: 1220px ){
    .header_nav__roster{
        padding-left: 15rem;
    }
    .footer_size{
        margin: 0 auto;
    }

    .footer{
        padding-right: 1.5rem;
    }
}