.header_nav__roster{
    display: inline-flex;
    padding-left: 30rem;
}

.header_nav__roster-nav-list{
    padding: 0.6875rem 2.1875rem;
}

.nav-list__link{
    font-size: 1rem;
    font-weight: 600;
}


.header_nav__roster-nav-list:last-child {
    border: 0.125rem solid #F9FAFE;
    border-radius: 0.3125rem;
}

