.destinations_img, .featured_img{
    margin:1.5rem 1.5rem 0 0 ;
    padding: 1.875rem 0 0 1.875rem;
    width: 27.6%;
    background-repeat: no-repeat;
}

.featured_img{
    width: 40%;
    margin: 1rem auto;

}

.destinations_img:first-child{
    background-image: url("../../img/first_img.png");
    width: 62%;
    border-radius: 0.3125rem;
    margin-top: 3.5313rem
}

.destinations_img:nth-child(2){
    background-image: url("../../img/second_img.png");
    margin-top: 3.5313rem;
    margin-right: 0;
}

.destinations_img:nth-child(3){
    background-image: url("../../img/third.png");

}

.destinations_img:nth-child(4){
    background-image: url("../../img/fourth_img.png");
}

.destinations_img:nth-child(5){
    background-image: url("../../img/fifth_img.png");
    margin-right: 0;
}

.featured_img:first-child{
    background-image: url("../../img/crynoline_1_pic1.png");
}

.featured_img:nth-child(2){
    background-image: url("../../img/featured_first.png");
}

.featured_img:nth-child(3){
    background-image: url("../../img/CR51_Exterior_1.png");
}

.featured_img:nth-child(4){
    background-image: url("../../img/cruiser41s.png");
}
