.own-boat{
    background-image: url("../../img/Background_photo.png");
    text-align: center;
}

.own-boat_title{
    padding-top: 10.775rem;
}

.own-boat_block{
    padding-top: 5.0625rem;
    padding-bottom: 9.9375rem;
}

.own-boat_block__link{
    padding: 1.406rem 2.875rem;
}