.reserve{
    background-image: url("../../img/header-section.jpg");
    margin-top: -8rem;
    padding-top: 17.6rem;
    background-position: center top;
}

.reserve_form{
    text-align: center;
    padding-top: 5.0625rem;
    padding-bottom: 18.75rem;
}

.reserve_form__input{
    padding: 1rem 0 1rem 1.875rem;
}

.reserve_form__button{
    padding: 0.8rem 3.25rem;
    margin-left: -0.3125rem;
}

