.top-destinations_header{
    padding: 2rem 0;
    box-shadow: 0.3125rem 0.5rem 1.25rem #707070;
    max-width: 50rem;
    margin: -4rem auto 0;
    background-color: #FFFFFF;
    border-radius: 0.3125rem;
}

.top-destinations_color{
    color: #717171;
}

.top-destinations_header__roster{
    display: flex;
    justify-content: center;
}

.top-destinations_header__roster-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2.875rem;
    border-right: 0.0625rem solid #717171 ;
}

.top-destinations_header__roster-list:last-child{
    border-right: none;
}



.top-destinations_main__roster{
    display: flex;
    justify-content: center;

}

.top-destinations_main__roster-position{
    padding-left: 25rem;
    padding-top: 3.5313rem;
}

.top-destinations_main__roster-list:first-child{
    background-image: url("../../img/first_img.png");
}

.first__line .top-destinations_main__roster-list:nth-child(2){
    background-image: url("../../img/second_img.png");
    background-repeat: no-repeat;
    margin-left: 1.8725rem;
}


.top-destinations_main__roster-list{
    padding: 1.875rem 0 0 1.6875rem;
    border-radius: 0.3125rem;
}

.top-destinations_main__roster-list-block{
    padding: 0.625rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.3126rem;
}

.top-destinations_main__roster-list-number{
    padding-left: 0.625rem;
}

.top-destinations_main-text-position{
    padding-top: 12.5rem;
    padding-right: 32.375rem;
    text-align: left;
}

.top-destinations-text-position{
    text-align: left;
    padding-bottom: 1rem;
}

.top-destinations_main-text.text__silver{
    padding-top: 1.125rem;
}




.top-destinations_main-text-position{
    padding-right: 8.6rem;
}




.top-destinations_main__roster.second__line{
    padding-top: 1.875rem;
}

.section_footer{
    padding-top: 6.125rem;
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}



